<h3>Login Here</h3>

<% if flash[:message] %>
  <%= flash[:message]%>
<% end %>

  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username:">
    <input type="text" name="email" placeholder="Email:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Submit">
  </form>

  <br></br>
<h4>Not signed up? Then <a href="/signup">sign up here.</a></h4>
