<h1>Login Here!</h1>

<br />

<h4><% if flash[:message]  != nil %>
  <div class="alert"><%= flash[:message]%></div>
<% end %></h4>

<br />

  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Submit">
  </form>

  <br></br>
<h4>Not signed up? Then <a href="/signup">sign up here.</a></h4>
