<h2>New Patterns</h2>

<form action="/projects" method="post">
  <h4><label>Name of Pattern: <br /><br /><input type="text" name="name"></label></h4>
  <br />
  <br />
  <h4><label>Materials for Pattern: <br /><br /><input type="text" name="materials"></label></h4>
  <br />
  <br />
  <h4><label>Pattern Directions: <br /><br /><input type="text" name="directions"></label></h4>
  <br />
  <br />
  <input type="submit" value="Create">
</form>
