<h2>New Projects</h2>

<form action="/projects" method="post">
  <input type="text" name="name" placeholder="Name of Project:">
  <input type="text" name="material_name" placeholder="Materials:">
  <input type="text" name="directions" placeholder="Pattern Directions:">
  <input type="submit" value="Submit">
</form>
