<h4>Project</h4>


<br />

  <form method="post" action="/projects/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Project">
  </form>

<br />

  <a href="/projects/:id/edit">Edit Project</a>
