<h1>Welcome to Knitting Patterns to Share!</h1>

<h3>Knitting Pattern List</h3>

<ul>
  <%@project = Project.all%>
  <%@project.each do |project|%>
  <li><a href="/projects/projects/<%=project.name%>"><%= project.name %></a></li>
  <%end%>
</ul>

<br />
<br />

<p>Please <a href="/signup">Sign Up</a> or <a href="/login">Sign In</a> to continue.</p>
