<h1>Welcome to Knitting Patterns to Share!</h1>

<ul>
  <% Project.all.each_with_index do |project, i| %>
    <li><%= i + 1 %>. <a href="/projects/<%= project.id %>"><%= project.name %></a></li>
  <% end %>
</ul>

<br />
<br />

<p>Please <a href="/signup">Sign Up</a> or <a href="/login">Sign In</a> to continue.</p>
