<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image">Picture Placeholder</header>
  <div class="col-md-8 col-md-offset-2">
    <br></br>
    <h2>Welcome to Knitting Patterns to Share</h2>

    <br></br>

    <div class="content">
      List of Knitting projects
      <% @user.all %>
      <br></br>
      Please Sign In or Sign Up

    <div class="sidebar">

    </div>

  </div>
</div>
